{% extends '::admin.html.twig' %}
{% block body %}
<h1>{%trans%}Product Variation list{%endtrans%}</h1>

<table class="table table-stripped table-condensed table-hover">
    <thead>
        <tr>
            <td colspan="4">
              <a href="{{ path('product_variation_new', {'product': product, 'category': category}) }}" class="btn btn-primary btn-xs pull-right">
                <span class="glyphicon glyphicon-plus"></span> {%trans%}Create a variation{%endtrans%}
              </a>
            </td>
        </tr>
        <tr>
            <th>{%trans%}Variation{%endtrans%}</th>
            <th>{%trans%}Amount{%endtrans%}</th>
            <th>{%trans%}Actions{%endtrans%}</th>
        </tr>
    </thead>
    <tfoot>
		<tr>
			<td colspan="6"><a href="{{path('option', {'product': product, 'category': category})}}" class="btn btn-default">{% trans %}Back to the product options list{% endtrans%}</a></td>
		</tr>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity }}</td>
            <td>{{ entity.amount }}</td>
            <td>
              <a href="{{ path('product_variation_edit', { 'id': entity.id, 'product': product, 'category': category }) }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> {%trans%}Edit{%endtrans%}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
