<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        {{ form_row(form.OIN)}}
        {{ form_errors(form.OIN) }}
        {{ form_row(form.TIN)}}
        {{ form_errors(form.TIN) }}
        {{ form_row(form.VATIN)}}
        {{ form_errors(form.VATIN) }}
    </div>
</div>
