<h1>Category</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{% trans %}Slug{% endtrans %}</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>{% trans %}Menu{% endtrans %}</th>
            <td>{{ entity.menu }}</td>
        </tr>
        <tr>
            <th>{% trans %}Home{% endtrans %}</th>
            <td>{{ entity.home }}</td>
        </tr>
        <tr>
            <th>Lft</th>
            <td>{{ entity.lft }}</td>
        </tr>
        <tr>
            <th>Lvl</th>
            <td>{{ entity.lvl }}</td>
        </tr>
        <tr>
            <th>Rgt</th>
            <td>{{ entity.rgt }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
