{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Stock creation{% endtrans %}</h1>

<form action="{{ path('stock_create', {'product': product, 'category': category}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
	{{ form_row(form.amount) }}
    {% if cultures | length > 0 %}
	{% include 'CoreCommonBundle:Form:translations.html.twig' with {'form': form.translations, 'cultures': cultures } %}
	{% endif %}
	{{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Create{% endtrans %}</button>
        <a href="{{ path('product',{'category': category}) }}"> {% trans %}Back to the list{% endtrans %}</a>
    </p>
</form>
{% endblock %}
