{% extends '::admin.html.twig' %}
{% block body %}
<h1>{%trans%}Newsletter Email list{%endtrans%}</h1>
<form action="" method="post" class="filter form-actions">
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
         {{ form_row(filter.words, {'attr': {'class': 'input-sm'}}) }}
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
        <div>
            <label> &nbsp; </label><br />
            {{ form_rest(filter) }}
            <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</div>
</form>

{{ knp_pagination_render(entities)}}
<table class="records_list table table-striped table-condensed">
    <thead>
        <tr>
            <td colspan="3">
				<div class="btn-group pull-right">
                <a href="{{ path('newsletter_email_new') }}" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> {%trans%}Create a new email{%endtrans%}
                </a>
				<a href="{{ path('newsletter_email_batch') }}" class="btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-plus"></span> {%trans%}Create batch emails{%endtrans%}
                </a>
				</div>
           </td>
        </tr>
        <tr>
            <th>{%trans%}Enabled{%endtrans%}</th>
            <th>{%trans%}Email{%endtrans%}</th>
            <th>{%trans%}Actions{%endtrans%}</th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.enabled %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
            <td>{{ entity.email }}</td>
            <td>
                <a href="{{ path('newsletter_email_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> {%trans%}Edit{%endtrans%}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(entities)}}
{% endblock %}
