{% extends '::admin.html.twig' %}
{% block body -%}
<h1>{% trans %}Groupon list{% endtrans %}</h1>

<table class="records_list table table-striped tale-condensed">
	<thead>
		{% if product is not empty %}
		<tr>
			<td colspan="7">
				<div class="btn-group  pull-right">
					<a href="{{ path('groupon_new', {'category': category, 'product': product.id}) }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create a new entry{% endtrans %}</a>
				</div>
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>{% trans %}Active{% endtrans %}</th>
			<th>{% trans %}Amount{% endtrans %}</th>
			<th>{% trans %}Discount percentage{% endtrans %}</th>
			<th>{% trans %}Price{% endtrans %}</th>
			<th>{% trans %}Price VAT{% endtrans %}</th>
			<th>{% trans %}Currency{% endtrans %}</th>
			<th>{% trans %}Actions{% endtrans %}</th>
		</tr>
	</thead>
    <tbody>
    {% for entity in entities %}
        <tr>

			<td>{% if entity.active %}<span class="glyphicon glyphicon-ok"></span>{%else%}<span class="glyphicon glyphicon-remove"></span>{%endif%}</td>
			<td>{{ entity.amount }}</td>
			<td>{{ entity.discountPerc }}</td>
			<td>{{ entity.price }}</td>
			<td>{{ entity.priceVAT }}</td>
			<td>{{ entity.currency }}</td>
			<td>
				<div class="btn-group">
					<a href="{{ path('groupon_edit', { 'id': entity.id, 'category': category, 'product': product.id }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</a>
				</div>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
