{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Coupon edit{% endtrans %}</h1>

<form action="{{ path('coupon_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
       <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Edit{% endtrans %}</button>
    </p>
</form>

<form action="{{ path('coupon_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit"  class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
</form>
{% endblock %}
