{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Coupon list{% endtrans %}</h1>
{{ knp_pagination_render(entities)}}
<table class="records_list table table-striped tale-condensed">
    <thead>
        <tr>
            <td colspan="8">
                <a href="{{ path('coupon_new') }}" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create a new entry{% endtrans %}</a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Code{% endtrans %}</th>
            <th>{% trans %}Active{% endtrans %}</th>
            <th>{% trans %}Used{% endtrans %}</th>
            <th>{% trans %}Discount percentage{% endtrans %}</th>
            <th>{% trans %}Price{% endtrans %}</th>
            <th>{% trans %}Price VAT{% endtrans %}</th>
			<th>{% trans %}Currency{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.code }}</td>
            <td>{% if entity.active %}<span class="glyphicon glyphicon-ok"></span>{%else%}<span class="glyphicon glyphicon-remove"></span>{%endif%}</td>
            <td>{% if entity.used %}<span class="glyphicon glyphicon-ok"></span>{%else%}<span class="glyphicon glyphicon-remove"></span>{%endif%}</td>
            <td>{{ entity.discountPerc }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.priceVAT }}</td>
			<td>{{ entity.currency }}</td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('coupon_products', { 'id': entity.id }) }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-list-alt"></span> {% trans %}Products{% endtrans %}</a>
                    <a href="{{ path('coupon_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(entities)}}
{% endblock %}
