{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Price edit{% endtrans %}</h1>

<form action="{{ path('price_update', { 'id': entity.id, 'category': category, 'product': product }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Edit{% endtrans %}</button>
        <a href="{{ path('price', {'category': category, 'product': product }) }}"> {% trans %}Back to the list{% endtrans %}</a>
    </p>
</form>

<form action="{{ path('price_delete', { 'id': entity.id, 'category': category, 'product': product }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
</form>
{% endblock %}
