{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Product Option edit{% endtrans %}</h1>
{% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
<div class="{% if flow.getLastStepNumber()  != flow.getCurrentStepNumber() %}form-step{% endif %} step-{{flow.getCurrentStepNumber()}}"{% if flow.getLastStepNumber()  != flow.getCurrentStepNumber() %} data-target=".step-{{flow.getCurrentStepNumber() + 1 }}"{% endif%}>
	<form action="{{ path('option_update', { 'id': entity.id, 'category': category, 'product': product }) }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_errors(edit_form) }}
		{% if flow.getCurrentStepNumber() == 1 %}
		{{ form_row(edit_form.name) }}
		{% elseif flow.getCurrentStepNumber() == 2 %}
		{{ form_row(edit_form.value) }}
		{% else %}
		{{ form_row(edit_form.amount) }}
		{% endif %}
		{{ form_rest(edit_form) }}
		<div class="form-actions">
			<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Edit{% endtrans %}</button>
			<a href="{{ path('option', {'category': category, 'product': product }) }}"> {% trans %}Back to the list{% endtrans %}</a>
		</div>
	</form>
</div>
<form action="{{ path('option_delete', { 'id': entity.id, 'category': category, 'product': product }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
</form>
{% endblock %}
