{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Product Option list{% endtrans %}</h1>

<table class="records_list table table-striped table-condensed">
    <thead>
        <tr>
            <td colspan="4">
                <a href="{{ path('option_new', {'category': category, 'product': product}) }}" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> {% trans %}Create a new entry{% endtrans %} </a>
                <a href="{{ path('product_variation', {'category': category, 'product': product}) }}" class="btn btn-xs btn-info pull-right"><span class="glyphicon glyphicon-list-alt"></span> {% trans %}Variations{% endtrans %} </a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Value{% endtrans %}</th>
            <th>{% trans %}Amount{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <a href="{{ path('product', {'category': category}) }}" class="btn"> {% trans %}Back to the list{% endtrans %}</a>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name.name }}</td>
            <td>{{ entity.value.value }}</td>
            <td>{% if entity.amount %}{{ entity.amount | number_format }}{% endif %}</td>
            <td>
                <div class="btn-group">
                    <a href="{{ path('option_edit', { 'id': entity.id, 'category': category, 'product': product }) }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</a>
                    <a href="{{ path('option_up', { 'id': entity.id, 'position': 1, 'product': product, 'category': category }) }}" class="move-up btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up"></span> {% trans %}Move up{% endtrans %}</a>
                    <a href="{{ path('option_down', { 'id': entity.id, 'position': 1, 'product': product, 'category': category }) }}" class="move-down btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-down"></span> {% trans %}Move down{% endtrans %}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
