<form action="{{path('site_contact_claim_form_send')}}" method="post" class="contact-form full">
  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5 nolabel">
        {% include "CoreShopBundle:Address:baseform.html.twig" with {'form': form.address} %}
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 nolabel">
        {{ form_row(form.orderNumber) }}
        {{ form_row(form.productNumber) }}
        {{ form_row(form.accountNumber) }}
        {{ form_row(form.message) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="nolabel">
        {{ form_row(form.verification_code) }}
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 nolabel">
      <strong class="btn btn-danger btn-block">{{verification_code}}</strong>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      {{ form_widget(form.copy) }}
      {{ form_rest(form) }}
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 nolabel">
        <button type="submit" class="btn btn-block btn-default">{% trans %}Send{% endtrans %}</button>
    </div>
</div>
</form>
